---
layout: page
title: Resume
---

# {{ site.data.resume.name }}

## 👤 About Me
{{ site.data.resume.about }}

## 🛠 Skills
<ul>
{% for skill in site.data.resume.skills %}
  <li>{{ skill }}</li>
{% endfor %}
</ul>

## 💼 Experience
{% for job in site.data.resume.experience %}
### {{ job.title }} at {{ job.company }} ({{ job.period }})
**Location**: {{ job.location }}
<ul>
{% for item in job.responsibilities %}
  <li>{{ item }}</li>
{% endfor %}
</ul>
{% endfor %}

## 🎓 Education
**{{ site.data.resume.education.degree }}**, {{ site.data.resume.education.university }} – {{ site.data.resume.education.year }}

## 🧠 Certifications
<ul>
{% for cert in site.data.resume.certifications %}
  <li>{{ cert }}</li>
{% endfor %}
</ul>

## 🌐 Projects
{% for project in site.data.resume.projects %}
### {{ project.name }}
**Tech Stack**: {{ project.tech }}  
{{ project.description }}
{% endfor %}

## 📫 Contact
- **Email**: {{ site.data.resume.contact.email }}
- **GitHub**: [{{ site.data.resume.contact.github }}]({{ site.data.resume.contact.github }})
- **LinkedIn**: [{{ site.data.resume.contact.linkedin }}]({{ site.data.resume.contact.linkedin }})
- **Portfolio**: [{{ site.data.resume.contact.portfolio }}]({{ site.data.resume.contact.portfolio }})
